/*@import == importa fontes externas para o documento*/
@import url('');

body, * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: aqua;
}
a {
    text-decoration: none;
}
p {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}
b {
    margin-right: 5px;
}
h2 {
    margin: 10px;
}
img {
    margin: 10px;
    width: 80px;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
}
main.container {
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    }
content.interactions {
    display: flex;
    align-items: space-between;
    height: auto;
    width: 900px;
    padding-bottom: 20px;
    border-radius: 0px 15px 15px 15px;
    border: 1px solid aqua;
    border-top: 1px solid aqua;
    box-shadow: 0px 0px 10px 1px aqua;
}
aside.skills {
    display: flex;
    top: 10px;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: 2px;
    border: 1px solid transparent;
    height: auto;
    width: 200px;
    border-radius: 0px 0px 15px 15px;
}
/*definindo animação, inicio "0%" e fim "100%".*/
@-webkit-keyframes loading {
    0% {
       transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.person.is-animating {
    animation: loading 1s cubic-bezier(0, .25, .7125, .1) infinite;
}
section.person {
    display: flex;
    position: relative;
    top: 20px;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 2px solid aqua;
    box-shadow: 0px 0px 10px 0.5px aqua;
    border-radius: 100%;
    border-right-color: #fff;
    padding: 5px;
}
article.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 180px;
    border: 1px solid transparent;
    border-radius: 0px 0px 15px 15px;
    padding: 5px;
}
main.info {
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 10px;
    border: 2px solid aqua;
    border-top: transparent;
    border-right: transparent;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
}
table.skills-list {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    width: 100%;
}
td.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 5px;
    border: 1px solid transparent;
}
td {
    width: 180px;
}
tr.lineSkills {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 2px solid transparent;
}
#percent {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.bgProgress {
    display: flex;
    padding: 0px;
    transition-duration: 0.5s;
    width: 70px;
    background-color: rgba(0, 255, 255, 0.5);
    border: 0.5px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 2px rgba(0, 255, 255, 0.5);
}
.progressPerc {
    display: flex;
    background-color: aqua;
    color: #000;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px aqua;
    z-index: 1;
    width: 50px;
}
/*Percent color progress*/
#js-Perc {
    width: 30px;
}
/*Percent color progress*/
#react-Perc {
    width: 20px;
}
/*Percent color progress*/
#html-Perc {
    width: 50px;
}
/*Percent color progress*/
#css-Perc {
    width: 45px;
}
.num-perc {
    display: flex;
    width: 100%;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}
.btStyle {
    display: flex;
    transition-duration: 0.15s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16pt;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
}
.btStyle:active {
    color: #000;
    background-color: aqua;
}
.top-menu {
    display: flex;
    padding: 2px;
    justify-content: left;
    top: 0%;
    height: 50px;
    border: 1px solid transparent;
}
button {
    cursor: pointer;
}
.aba {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
    border: 1px solid transparent;
}
.aba:hover {
    color: aqua;
    border-bottom: 1px solid aqua;
}

.textInfo {
    display: flex;
    height: auto;
    background-color: transparent;
    padding: 20px;
    flex-direction: column;
}
.marginP {
    margin: 20px;
}
.bt-help {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    height: 40px;
    width: 40px;
    right: 20px;
    bottom: 20px;
    border: 2px solid aqua;
    border-radius: 50%;
    cursor: pointer;
}
.bt-help:hover {
    box-shadow: 0px 0px 8px 1px aqua;
    transition-duration: 0.2s;
}
legend {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    border: 1px solid transparent;
    margin-top: 40px;
    padding: 6px;
    justify-content: center;
}
details {
    cursor: pointer;
    transition: transform 1s;
}
footer {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: transparent;
    bottom: 0%;
}