body, * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #000;
}
main.container {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
content.interactions {
    display: flex;
    align-items: space-between;
    height: 550px;
    width: 1000px;
    border-radius: 0px 15px 15px 15px;
    border: 2px solid aqua;
}
aside.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px;
    padding: 8px;
    border: 2px solid aqua;
    height: auto;
    width: 200px;
    border-radius: 0px 0px 15px 15px;
    color: aqua;
}
section.person {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 2px solid aqua;
    border-radius: 50%;
    padding: 5px;
}
article.status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 200px;
    border: 2px solid aqua;
    border-radius: 0px 0px 15px 15px;
    padding: 5px;
}
main.info {
    margin: 10px;
    border: 2px solid aqua;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
}
table.skills-list {
    display: flex;
    flex-direction: column;
    border: 2px solid aqua;
    width: 100%;
}
td.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 5px;
    border: 2px solid aqua;
}
tr.lineSkills {
    display: flex;
    flex-direction: row;
    border: 2px solid aqua;
}
#percent {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.bgProgress {
    display: flex;
    width: 100%;
    background-color: #00ff008e;
}
.btStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    cursor: pointer;
    font-size: 16pt;
    height: 20px;
    width: 20px;
    border: 2px solid aqua;
}